@model EFCodeFirst.Models.Post
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="@Url.Action("Create","post")" method="post">
    <input type="text" name="Title"/>
    <input type="submit" value="Add New"/>

</form>