@model IList<EFCodeFirst.Models.Blog>
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="@Url.Action("Create","Blog")" method="post">
    <input type="text" name="Name" />
    <input type="submit" value="Add New" />

</form>


<div>
    <ul>
        @foreach (var itm in Model)
        {
            <li>
                @itm.Name
            </li>
        }
        
    </ul>
</div>
